@import url("http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css");
@import url("content.css");

/* Areas */

#main {
	padding-top: 20px;
	margin: 0 auto;
	text-align: left;
	width: 80%;
	min-width:600px;
	max-width:800px;
}
#logo {
	margin-top: 10px;
	float: left;
	text-indent: -9999px;
	background: url("../images/logo-mydance.jpg");
	width: 168px;
	height: 44px;
}
#nav-top {
	float: right;
	background-color: #F2F2F2;
	height: 34px;
	text-align: right;
	padding-top: 15px;
	padding-right: 20px;
}
#nav-main {
	margin-top: 5px;
	background: url("../images/menu-bg.jpg") repeat-x;
	height: 37px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #CFCFCF;
}
#nav-main ul {
	padding-top: 12px;
}
#content-wrap {
	margin-top: 10px;
}
#content-wrap > .content {
	border: 1px solid #CFCFCF;
	border-width: 1px 1px 5px 1px;
}

#content-wrap > .content, #nav-main, #footer, #nav-top {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


#nav-main {
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
}

#content-wrap > .content {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}

#footer {
	margin-top:10px;
}
#footer-links {
	text-align: center;
	margin-top: 10px;
}
#footer-text {
	color: #A0A0A0;
	text-align: center;
}
#footer-text p {
	padding: 5px 0 0 0;
	margin: 0;
}
#footer-text a {
	color: #A0A0A0;
	text-decoration: none;
}

/*#content h2 {
	background: transparent url("../images/arrow-h9.gif") no-repeat scroll 0 10px;
	padding-left: 10px;
}*/

#nav-main li a {
	padding-left: 10px;
}
#nav-main li.active a {
	background: transparent url("../images/arrow-h7.gif") no-repeat scroll 0 5px;
}

/* Generic */

.clear {
	clear: both;
	height: 0;
}
.ul-unstyled-horizontal {
	padding: 0;
	margin: 0;
}
.ul-unstyled-horizontal li {
	padding: 0;
	margin: 0;
	display: inline;
	list-style: none;
	color: #606060;
	text-decoration: none;
	font-size: 11px;
}
.ul-unstyled-horizontal li a {
	color: #606060;
	font-size: 11px;
	margin-left: 20px;
}

/* Specific */

#content-welcome.content {
	border-width:0 0 5px 0;
}
#content-welcome h1, #content-welcome h2 {
	display:none;
}