[submodule "public/scripts/aloha-editor"]
	path = public/scripts/aloha-editor
	url = http://github.com/balupton/Aloha-Editor.git
[submodule "public/scripts/jquery-ajaxy"]
	path = public/scripts/jquery-ajaxy
	url = http://github.com/balupton/jquery-ajaxy.git
[submodule "public/scripts/jquery-lightbox"]
	path = public/scripts/jquery-lightbox
	url = http://github.com/balupton/jquery-lightbox.git
[submodule "public/scripts/jquery-sparkle"]
	path = public/scripts/jquery-sparkle
	url = http://github.com/balupton/jquery-sparkle.git
[submodule "public/scripts/jquery-syntaxhighlighter"]
	path = public/scripts/jquery-syntaxhighlighter
	url = http://github.com/balupton/jQuery-SyntaxHighlighter.git
