config.php
application/config/compiled/*.data
application/data/schema/compiled/*.yml
application/modules/*/config/compiled/*.data
application/data/database/*.db
application/data/dump/data.yml
application/data/schema/compiled/*.yml
application/data/migrations
application/data/logs/installed
application/data/logs/payment
application/data/logs/paypal
application/data/cache
application/models/Bal
application/models/Base
library/Bal
library/Doctrine
library/Doctrine.php
library/Zend
sites/*
public/media/cache