# Standard Ignores
application/data/database/*.db
application/data/dump/*
application/data/migrations
application/data/cache
application/data/logs/*

# Compile Locations
application/config/compiled
application/data/schema/compiled
application/data/schema/compiled
application/modules/*/config/compiled
public/media/cache/*/*

# Symlink Ignores
application/models/Bal
application/models/Base
library/Bal
library/Doctrine
library/Doctrine.php
library/Zend