config.php
application/config/compiled/*
application/data/database/*.db
application/data/dump/data.yml
application/data/schema/compiled/*
application/data/migrations
application/data/logs/installed
application/data/logs/payment
application/data/logs/paypal
application/models/Bal
application/models/Base
common/balphp-v1.0
common/csscaffold
common/doctrine-extensions
common/doctrine-v1.2.3-lib
common/htmlpurifier-v4.2.0-lib
common/SymfonyComponents
common/zend-v1.10.7-lib
sites/*