Options +FollowSymlinks -Indexes
RewriteEngine On

RewriteCond %{HTTP_HOST} mydance.com.au$ [NC]
RewriteCond %{HTTP_HOST} !.mydance.com.au$ [NC]
RewriteRule ^/?(.*)$ http://www.mydance.com.au/$1 [R=301,QSA,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [L]

RewriteCond %{REQUEST_FILENAME} !(jpe?g|bmp|tiff|png|gif|js|css)$
RewriteRule ^.*$ index.php [QSA,L]