Options +FollowSymlinks -Indexes
RewriteEngine On

# Always use the latest php version
Action php5-script /gs-bin/php5-latest
AddHandler php5-script .php

# Feeds to Feedburner
RewriteCond %{HTTP_USER_AGENT} !FeedBurner
RewriteRule ^feed/(atom|rss)$ http://feeds.feedburner.com/balupton/$1 [R,L]

# Maintenance
#RewriteCond %{REQUEST_URI} !/sandbox/
#RewriteCond %{REQUEST_URI} !/maintenance/index.html
#RewriteCond %{QUERY_STRING} !debug
#RewriteRule ^(.*)$ http://balupton.com/maintenance/index.html [R=307,L]

# Clean URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !\.(jpe?g|bmp|tiff|png|gif|js|css|php|html?)$ [NC]
RewriteRule ^.*$ index.php [QSA,PT,L]

# Types
AddType application/xhtml+xml xhtml
AddType application/x-httpd-php-source phps
AddType application/atom+xml atom
AddType application/rss+xml rss

# Expire Times
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType text/html "access plus 1 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 216000 seconds"
  ExpiresByType application/x-javascript "access plus 216000 seconds"
</ifModule>

# Cache Control
<ifModule mod_headers.c>
  <filesMatch "\\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
    Header set Cache-Control "max-age=2592000, public"
  </filesMatch>
  <filesMatch "\\.(css)$">
    Header set Cache-Control "max-age=604800, public"
  </filesMatch>
  <filesMatch "\\.(js)$">
    Header set Cache-Control "max-age=216000, private"
  </filesMatch>
  <filesMatch "\\.(xml|txt)$">
    Header set Cache-Control "max-age=216000, public, must-revalidate"
  </filesMatch>
  <filesMatch "\\.(html|htm|php)$">
    Header set Cache-Control "max-age=1, private, must-revalidate"
  </filesMatch>
</ifModule>

# Compress text, html, javascript, css, xml
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
</ifModule>

