Options +FollowSymlinks -Indexes
RewriteEngine On

# Always use the latest php version
Action php5-script /gs-bin/php5-latest
AddHandler php5-script .php

# Feeds to Feedburner
RewriteCond %{HTTP_USER_AGENT} !FeedBurner
RewriteRule ^feed/(atom|rss)$ http://feeds.feedburner.com/balupton/$1 [R,L]

# Maintenance
#RewriteCond %{REQUEST_URI} !/sandbox/
#RewriteCond %{REQUEST_URI} !/maintenance/index.html
#RewriteCond %{QUERY_STRING} !debug
#RewriteRule ^(.*)$ http://balupton.com/maintenance/index.html [R=307,L]

# Clean URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !\.(jpe?g|bmp|tiff|png|gif|js|css|php|html?)$ [NC]
RewriteRule ^.*$ index.php [QSA,PT,L]

# Force WWW
RewriteCond %{HTTP_HOST} !www.balupton.com$ [NC]
RewriteCond %{HTTP_HOST} balupton.com$ [NC]
RewriteRule ^/?(.*)$ http://www.balupton.com/$1 [R=301,L] # add www, and do redirect

# CV Redirects
RewriteCond %{REQUEST_URI} ^/resume/?$ [NC]
RewriteCond %{HTTP_HOST} balupton.com$ [NC]
RewriteRule ^.*$ /cv/ [L]
RewriteCond %{REQUEST_URI} ^/cv/?$ [NC]
RewriteCond %{HTTP_HOST} balupton.com$ [NC]
RewriteRule ^.*$ http://www.linkedin.com/in/balupton [R=301,L]

# Redirects for Projects
# jQuery Lightbox
RewriteCond %{HTTP_HOST} balupton.com$ [NC]
RewriteCond %{REQUEST_URI} ^/(sandbox/)?(jquery)?[-_]?lightbox/?$ [NC]
RewriteRule ^.*$ /sandbox/jquery-lightbox/demo/ [R=301,L]
# jQuery Sparkle
RewriteCond %{HTTP_HOST} balupton.com$ [NC]
RewriteCond %{REQUEST_URI} ^/(sandbox/)?(jquery)?[-_]?sparkle/?$ [NC]
RewriteRule ^.*$ /sandbox/jquery-sparkle/demo/ [R=301,L]
# jQuery Smarty
RewriteCond %{HTTP_HOST} balupton.com$ [NC]
RewriteCond %{REQUEST_URI} ^/(sandbox/)?(jquery|jq)?[-_]?smarty/?$ [NC]
RewriteRule ^.*$ /sandbox/jquery-smarty/demo/ [R=301,L]
# jQuery Ajaxy
RewriteCond %{HTTP_HOST} balupton.com$ [NC]
RewriteCond %{REQUEST_URI} ^/(sandbox/)?(jquery|jq)?[-_]?(ajaxy)/?$ [NC]
RewriteRule ^.*$ /sandbox/jquery-ajaxy/demo/ [R=301,L]
# jQuery History
RewriteCond %{HTTP_HOST} balupton.com$ [NC]
RewriteCond %{REQUEST_URI} ^/(sandbox/)?(jquery|jq)?[-_]?(history)/?$ [NC]
RewriteRule ^.*$ /sandbox/jquery-history/demo/ [R=301,L]
# jQuery SyntaxHighlighter
RewriteCond %{HTTP_HOST} balupton.com$ [NC]
RewriteCond %{REQUEST_URI} ^/(sandbox/)?(jquery|jq)?[-_]?(syntax)?[-_]?(highlighter)/?$ [NC]
RewriteRule ^.*$ /sandbox/jquery-syntaxhighlighter/demo/ [R=301,L]

# Types
AddType application/xhtml+xml xhtml
AddType application/x-httpd-php-source phps
AddType application/atom+xml atom
AddType application/rss+xml rss

# Expire Times
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType text/html "access plus 1 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 216000 seconds"
  ExpiresByType application/x-javascript "access plus 216000 seconds"
</ifModule>

# Cache Control
<ifModule mod_headers.c>
  <filesMatch "\\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
    Header set Cache-Control "max-age=2592000, public"
  </filesMatch>
  <filesMatch "\\.(css)$">
    Header set Cache-Control "max-age=604800, public"
  </filesMatch>
  <filesMatch "\\.(js)$">
    Header set Cache-Control "max-age=216000, private"
  </filesMatch>
  <filesMatch "\\.(xml|txt)$">
    Header set Cache-Control "max-age=216000, public, must-revalidate"
  </filesMatch>
  <filesMatch "\\.(html|htm|php)$">
    Header set Cache-Control "max-age=1, private, must-revalidate"
  </filesMatch>
</ifModule>

# Compress text, html, javascript, css, xml
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
</ifModule>

# Block Hotlinking
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !.balupton.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} \?hotlink=ignore$ [NC]
RewriteCond %{HTTP_HOST} !^localhost [NC]
RewriteRule \.(jpe?g|png|gif|js|css|tpl)$ - [NC,F,L]

# Block Spam Pages
RewriteCond %{QUERY_STRING} (module|storna|nn|nm|idl|menuid|p_?id|sf_?id)=
RewriteRule ^.* - [F,L]

# Block Undesired Pages
RewriteCond %{REQUEST_URI} (name-1|croatia|cupe|dos|ria|rica|reception|gory|profile|stan|greece|fotos|ka)\. [NC,OR]
RewriteCond %{REQUEST_URI} \.aspx? [NC]
RewriteRule ^.* - [F,L]

# Block by Referer
RewriteCond %{HTTP_REFERER} (it\.pl|all\.com|shop\.kz|princemahesh|klin|brzozow|force\.am|64express)|(\.(by|info|kr|ru|su|t(f|o)|us|vn|mail\.|org\.pl)) [NC]
RewriteRule ^.* - [F,L]

# Block by User Agent
RewriteCond %{HTTP_USER_AGENT} almaden [OR]
RewriteCond %{HTTP_USER_AGENT} ^Anarchie [OR]
RewriteCond %{HTTP_USER_AGENT} ^ASPSeek [OR]
RewriteCond %{HTTP_USER_AGENT} ^attach [OR]
RewriteCond %{HTTP_USER_AGENT} ^autoemailspider [OR]
RewriteCond %{HTTP_USER_AGENT} ^BackWeb [OR]
RewriteCond %{HTTP_USER_AGENT} ^Bandit [OR]
RewriteCond %{HTTP_USER_AGENT} ^BatchFTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR]
RewriteCond %{HTTP_USER_AGENT} ^Bot\ mailto:craftbot@yahoo.com [OR]
RewriteCond %{HTTP_USER_AGENT} ^Buddy [OR]
RewriteCond %{HTTP_USER_AGENT} ^bumblebee [OR]
RewriteCond %{HTTP_USER_AGENT} ^CherryPicker [OR]
RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [OR]
RewriteCond %{HTTP_USER_AGENT} ^CICC [OR]
RewriteCond %{HTTP_USER_AGENT} ^Collector [OR]
RewriteCond %{HTTP_USER_AGENT} ^Copier [OR]
RewriteCond %{HTTP_USER_AGENT} ^Crescent [OR]
RewriteCond %{HTTP_USER_AGENT} ^Custo [OR]
RewriteCond %{HTTP_USER_AGENT} ^Accelerator [OR]
RewriteCond %{HTTP_USER_AGENT} ^Alligator [OR]
RewriteCond %{HTTP_USER_AGENT} ^ASPSeek [OR] 
RewriteCond %{HTTP_USER_AGENT} ^BackStreet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Charon [OR]
RewriteCond %{HTTP_USER_AGENT} ^DataFountains [OR]
RewriteCond %{HTTP_USER_AGENT} ^Sakura [OR]
RewriteCond %{HTTP_USER_AGENT} ^DDD [OR]
RewriteCond %{HTTP_USER_AGENT} ^BilderSauge [OR]
RewriteCond %{HTTP_USER_AGENT} ^dlman [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Druid [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Express [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Master [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download-Tip [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Wonder [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download.exe [OR]
RewriteCond %{HTTP_USER_AGENT} ^DownloadDirect [OR]
RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR]
RewriteCond %{HTTP_USER_AGENT} ^Extreme\ Picture\ Finder [OR]
RewriteCond %{HTTP_USER_AGENT} ^EyeCatcher [OR]
RewriteCond %{HTTP_USER_AGENT} ^FDM [OR]
RewriteCond %{HTTP_USER_AGENT} ^libfetch [OR]
RewriteCond %{HTTP_USER_AGENT} ^Fielhound [OR]
RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^download-link [OR]
RewriteCond %{HTTP_USER_AGENT} ^FreshDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^Atomic_Email_Hunter [OR]
RewriteCond %{HTTP_USER_AGENT} ^BPImageWalker [OR]
RewriteCond %{HTTP_USER_AGENT} ^CoBITSProbe [OR]
RewriteCond %{HTTP_USER_AGENT} ^CydralSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Doubanbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^Exabot-Images [OR]
RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 1 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 2 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 3 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 4 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 5 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 6 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 7 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 8 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 9 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 10 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 11 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA\ 12 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 1 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 2 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 3 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 4 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 5 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 6 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 7 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 8 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 9 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 10 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 11 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DAP\ 12 [OR]
RewriteCond %{HTTP_USER_AGENT} ^DIIbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR]
RewriteCond %{HTTP_USER_AGENT} ^DISCo\ Pump [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Wonder [OR]
RewriteCond %{HTTP_USER_AGENT} ^Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^Drip [OR]
RewriteCond %{HTTP_USER_AGENT} ^DSurf15a [OR]
RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR]
RewriteCond %{HTTP_USER_AGENT} ^EasyDL/2.99 [OR]
RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} email [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailCollector [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [OR]
RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR]
RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR]
RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR]
RewriteCond %{HTTP_USER_AGENT} ^FileHound [OR]
RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR]
RewriteCond %{HTTP_USER_AGENT} FrontPage [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetSmart [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [OR]
RewriteCond %{HTTP_USER_AGENT} ^gigabaz [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go\!Zilla [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [OR]
RewriteCond %{HTTP_USER_AGENT} ^gotit [OR]
RewriteCond %{HTTP_USER_AGENT} ^Grabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^GrabNet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR]
RewriteCond %{HTTP_USER_AGENT} ^grub-client [OR]
RewriteCond %{HTTP_USER_AGENT} ^HMView [OR]
RewriteCond %{HTTP_USER_AGENT} ^HTTrack [OR]
RewriteCond %{HTTP_USER_AGENT} ^httpdown [OR]
RewriteCond %{HTTP_USER_AGENT} .*httrack.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ia_archiver [OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^Indy*Library [OR]
RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR]
RewriteCond %{HTTP_USER_AGENT} ^InternetLinkagent [OR]
RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^InternetSeer.com [OR]
RewriteCond %{HTTP_USER_AGENT} ^Iria [OR]
RewriteCond %{HTTP_USER_AGENT} ^JBH*agent [OR]
RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR]
RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [OR]
RewriteCond %{HTTP_USER_AGENT} ^JustView [OR]
RewriteCond %{HTTP_USER_AGENT} ^larbin [OR]
RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^LexiBot [OR]
RewriteCond %{HTTP_USER_AGENT} ^lftp [OR]
RewriteCond %{HTTP_USER_AGENT} ^Link*Sleuth [OR]
RewriteCond %{HTTP_USER_AGENT} ^likse [OR]
RewriteCond %{HTTP_USER_AGENT} ^Link [OR]
RewriteCond %{HTTP_USER_AGENT} ^LinkWalker [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mag-Net [OR]
RewriteCond %{HTTP_USER_AGENT} ^Magnet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^Memo [OR]
RewriteCond %{HTTP_USER_AGENT} ^Microsoft.URL [OR]
RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mirror [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla.*Indy [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla.*NEWT [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla*MSIECrawler [OR]
RewriteCond %{HTTP_USER_AGENT} ^MS\ FrontPage* [OR]
RewriteCond %{HTTP_USER_AGENT} ^MSFrontPage [OR]
RewriteCond %{HTTP_USER_AGENT} ^MSIECrawler [OR]
RewriteCond %{HTTP_USER_AGENT} ^MSProxy [OR]
RewriteCond %{HTTP_USER_AGENT} ^Navroad [OR]
RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetMechanic [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^NICErsPRO [OR]
RewriteCond %{HTTP_USER_AGENT} ^Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^Octopus [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [OR]
RewriteCond %{HTTP_USER_AGENT} ^Openfind [OR]
RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR]
RewriteCond %{HTTP_USER_AGENT} ^pavuk [OR]
RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR]
RewriteCond %{HTTP_USER_AGENT} ^Ping [OR]
RewriteCond %{HTTP_USER_AGENT} ^PingALink [OR]
RewriteCond %{HTTP_USER_AGENT} ^Pockey [OR]
RewriteCond %{HTTP_USER_AGENT} ^psbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^Pump [OR]
RewriteCond %{HTTP_USER_AGENT} ^QRVA [OR]
RewriteCond %{HTTP_USER_AGENT} ^RealDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^Reaper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Recorder [OR]
RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Scooter [OR]
RewriteCond %{HTTP_USER_AGENT} ^Seeker [OR]
RewriteCond %{HTTP_USER_AGENT} ^Siphon [OR]
RewriteCond %{HTTP_USER_AGENT} ^sitecheck.internetseer.com [OR]
RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [OR]
RewriteCond %{HTTP_USER_AGENT} ^SlySearch [OR]
RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^Snake [OR]
RewriteCond %{HTTP_USER_AGENT} ^SpaceBison [OR]
RewriteCond %{HTTP_USER_AGENT} ^sproose [OR]
RewriteCond %{HTTP_USER_AGENT} ^Stripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^Szukacz [OR]
RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR]
RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [OR]
RewriteCond %{HTTP_USER_AGENT} ^URLSpiderPro [OR]
RewriteCond %{HTTP_USER_AGENT} ^Vacuum [OR]
RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR]
RewriteCond %{HTTP_USER_AGENT} ^[Ww]eb[Bb]andit [OR]
RewriteCond %{HTTP_USER_AGENT} ^webcollage [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebEMailExtrac.* [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebHook [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebMiner [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebMirror [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR]
RewriteCond %{HTTP_USER_AGENT} ^Webster [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR]
RewriteCond %{HTTP_USER_AGENT} WebWhacker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Wget [OR]
RewriteCond %{HTTP_USER_AGENT} ^Whacker [OR]
RewriteCond %{HTTP_USER_AGENT} ^Widow [OR]
RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [OR]
RewriteCond %{HTTP_USER_AGENT} ^x-Tractor [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xenu [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus.*Webster [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus
RewriteRule ^.* - [F,L]
