body {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	text-align: center;
	font-family: Tahoma;
	font-size: 11px;
}
#main {
	margin: 0 auto;
	text-align: left;
	width: 603px;
}
#logo {
	margin-top: 10px;
	float: left;
	text-indent: -9999px;
	background: url(logo-mydance.jpg);
	width: 168px;
	height: 44px;
}
#nav-top {
	float: right;
	background-color: #F2F2F2;
	height: 34px;
	text-align: right;
	padding-top: 15px;
	padding-right: 20px;
}
#nav-main {
	margin-top: 5px;
	background: url(menu-bg.jpg) repeat-x;
	height: 41px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 12px;
	border: 1px solid #CFCFCF;
}
#footer-bar {
	height: 8px;
	background-color: #CFCFCF;
}
#footer-links {
	text-align: center;
	margin-top: 10px;
}
#footer-text {
	color: #A0A0A0;
	text-align: center;
}
#footer-text p {
	padding: 5px 0 0 0;
	margin: 0;
}
#footer-text a {
	color: #A0A0A0;
	text-decoration: none;
}

/* 
	Styles
*/
.clear {
	clear: both;
	height: 0;
}
.ul-unstyled-horizontal {
	padding: 0;
	margin: 0;
}
.ul-unstyled-horizontal li {
	padding: 0;
	margin: 0;
	display: inline;
	list-style: none;
	color: #606060;
	text-decoration: none;
	font-size: 11px;
}
.ul-unstyled-horizontal li a {
	color: #606060;
	text-decoration: none;
	font-size: 11px;
	margin-left: 20px;
}