@import "mojombo/style.less";

#box-docpad {
	color:#DDD;
	position: fixed;
	display:block;
	width:150px;
	height:1.5em;
	bottom: 0;
	right: 0;
}

#box-github {
	position: fixed;
	top: 0;
	right: 0;
}

@media only screen and (max-device-width: 480px) {
	#box-docpad, #box-github {
		display:none !important;
	}
	#main {
		width:800px;
	}
}