// Sidebar
aside.sidebar

	// Section Colors
	section.gittip h1
		color: #614c3e
	section.feedly h1
		color: #6cc655
	section.flattr h1
		color: #66b115
	section.twitter h1
		color: #248DCD
	section.facebook h1
		color: #4966A1
	section.linkedin h1
		color: #0083B3
	section.vimeo h1
		color: #27A6D1
	section.youtube h1
		color: rgb(223, 51, 51)
	section.flickr h1
		color: #EE3F84
	section.github h1
		color: black
