@CHARSET "UTF-8";

.max_file_size_text {
	display:block;
	color:#666666;
	font-size:11px;
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size:12px;
	font-style:italic;
	margin:2px 0 5px;
}

.sparkle-highlight-values-notempty {
	font-weight:bold;
	color:black;
}
.sparkle-highlight-values-empty {
	font-weight:normal;
	color:#555;
}

.debug .link:hover {
	text-decoration:underline;
}
.debug .link {
	cursor:pointer;
}
.debug .help {
	font-style: italic;
	cursor:help;
}

.debug {
	font-family: Consolas, "Courier New";
	font-size: 12px;
	background: white;
	border:1px solid #CCC;
	padding:1em 0em;
}
.debug * {
	margin:0px;
	padding:0px;
}
.debug pre,
.debug .array .var,
.debug .object .var {
	margin-left: 2em;
}
.debug .var {
	display:block;
	position:relative;
}
.debug .name {
	font-weight:bold;
	display:block;
	float:left;
	min-width:2em;
}
.debug .type {
	color:gray;
}
.debug .type,
.debug .value,
.debug .help,
.debug .help-link {
	margin-left: 1em;
}
.debug .array .value,
.debug .object .value {
	color:black;
}
.debug .string .value {
	color:green;
}
.debug .double .value,
.debug .integer .value {
	color:pink;
}
.debug .resource .value {
	color:black;
}
.debug .method .value {
	color:black;
}
.debug .null .value {
	color:blue;
}




.log {
	list-style: none;
}
.log .event {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;

	font-size:100%;
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../images/icons/notification.png');
}
.log .event .timestamp {
	float:right;
	display:block;
}
.log .event .details {
	display:none;
}
.log .info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../images/icons/info.png');
}
.log .success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('../images/icons/success.png');
}
.log .warn {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/icons/warn.png');
}
.log .err, .log .crit, .log .alert, .log .emerg {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../images/icons/error.png');
}
.log .crit {
	font-size:110%;
}
.log .alert {
	font-size:120%;
}
.log .emerg {
	font-size:130%;
}