---
layout: 'page'
title: 'Benjamin "balupton" Lupton'
---

<!-- Posts -->
<section class="posts">
	<h2>Posts</h2>
	<nav class="linklist" typeof="dc:collection">
		<% for Document in @Documents: %>
			<% if Document.url.indexOf('/blog') == 0: %>
			<li typeof="sioc:Post" about="<%= Document.url %>">
				<span property="dc:created"><%= Document.date.toShortDateString() %></span>
				&raquo;
				<a href="<%= Document.url %>" property="dc:title"><%= Document.title %></a>
			</li>
			<% end %>
		<% end %>
	</nav>
</section>

<!-- Projects -->
<section class="projects">
	<h2>Projects</h2>
	<nav class="linklist" typeof="dc:collection">
		<li typeof="sioc:Post" about="https://github.com/balupton/docpad">
			<a href="https://github.com/balupton/docpad" property="dc:title">DocPad</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/nowpad">
			<a href="https://github.com/balupton/nowpad" property="dc:title">NowPad</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/history.js">
			<a href="https://github.com/balupton/history.js" property="dc:title">History.js</a>
		</li>
	</nav>
</section>
