---
layout: 'page'
title: 'Benjamin "balupton" Lupton'
---

<!-- Posts -->
<section class="posts">
	<h2>Posts</h2>
	<nav class="linklist" typeof="dc:collection">
		<% for Document in @Documents: %>
			<% if Document.url.indexOf('/blog') == 0: %>
			<li typeof="sioc:Post" about="<%= Document.url %>">
				<span property="dc:created"><%= Document.date.toShortDateString() %></span>
				&raquo;
				<a href="<%= Document.url %>" property="dc:title"><%= Document.title %></a>
			</li>
			<% end %>
		<% end %>
	</nav>
</section>

<!-- Projects -->
<section class="projects">
	<h2>Projects</h2>
	<nav class="linklist" typeof="dc:collection">
		<li typeof="sioc:Post" about="https://github.com/balupton/history.js">
			<a href="https://github.com/balupton/history.js" property="dc:title">History.js &mdash; HTML5 History API for everyone</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/docpad">
			<a href="https://github.com/balupton/docpad" property="dc:title">DocPad &mdash; The easiest way to generate your static website</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/nowpad">
			<a href="https://github.com/balupton/nowpad" property="dc:title">NowPad &mdash; Realtime collaboration for everyone</a>
		</li>
	</nav>
</section>

<!-- Shared Items --
@getFeed(url)
www.google.com/reader/public/atom/user%2F14778993901569235562%2Fstate%2Fcom.google%2Fbroadcast -->

<!-- Tweets
@getTweets(u)-->


<div id="disqus_thread" style="display:none;"></div>