---
layout: 'page'
title: 'Benjamin "balupton" Lupton'
---

<!-- Posts -->
<section class="posts">
	<h2>Posts</h2>
	<nav class="linklist" typeof="dc:collection">
		<% for Document in @Documents: %>
			<% if Document.url.indexOf('/blog') == 0: %>
			<li typeof="sioc:Post" about="<%= Document.url %>">
				<span property="dc:created"><%= Document.date.toShortDateString() %></span>
				&raquo;
				<a href="<%= Document.url %>" property="dc:title"><%= Document.title %></a>
			</li>
			<% end %>
		<% end %>
	</nav>
</section>

<!-- Projects -->
<section class="projects">
	<h2>Projects</h2>
	<nav class="linklist" typeof="dc:collection">
		<li typeof="sioc:Post" about="https://github.com/balupton/history.js">
			<a href="https://github.com/balupton/history.js" property="dc:title" title="History.js gracefully supports the HTML5 History/State APIs (pushState, replaceState, onPopState) in all browsers. Including continued support for data, titles, replaceState. Supports jQuery, MooTools and Prototype.  For HTML5 browsers this means that you can modify the URL directly, without needing to use hashes anymore. For HTML4 browsers it will revert back to using the old onhashchange functionality.">History.js &mdash; HTML5 History API for everyone</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/docpad">
			<a href="https://github.com/balupton/docpad" property="dc:title" title="DocPad is the easiest way to create your static website. You have the power of a CMS and simplicity of a notepad. Write your website in the markup of your choice (Markdown, HTML, Jade?), in the editor of your choice (Textmate, Sublime, Notepad?), and deploy anywhere (FTP, Git, localhost?). Total control, total simplicity.">DocPad &mdash; The easiest way to generate your static website</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/nowpad">
			<a href="https://github.com/balupton/nowpad" property="dc:title" title="Realtime text collaboration with Node.js, Express.js and Now.js">NowPad &mdash; Realtime collaboration for everyone</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/buildr.npm">
			<a href="https://github.com/balupton/buildr.npm" property="dc:title" title="The (Java|Coffee)Script and (CSS|Less) (Builder|Bundler|Packer|Minifier|Merger|Checker)">Buildr &mdash; The JavaScript Project Buildr</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/simple-server">
			<a href="https://github.com/balupton/simple-server" property="dc:title" title="Simple Server allows you to easily get a node.js static file server up and running anywhere anytime.">Simple-Server &mdash; A local static file server anytime, anywhere</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/query-engine.npm">
			<a href="https://github.com/balupton/query-engine.npm" property="dc:title" title="A NoSQL (and MongoDB compliant) Query Engine coded in CoffeeScript for Server-Side use with Node.js and Client-Side use with Web-Browsers

">Query-Engine &mdash; NoSQL (MongoDB Compliant) Query-Engine in CoffeeScript</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton/cson.npm">
			<a href="https://github.com/balupton/cson.npm" property="dc:title" title="CoffeeScript-Object-Notation Parser. Same as JSON but for CoffeeScript objects.">CSON &mdash; CoffeeScript-Object-Notation Parser</a>
		</li>
		<li typeof="sioc:Post" about="https://github.com/balupton">
			<a href="https://github.com/balupton" property="dc:title" title="but wait, there's more!">...and more!</a>
		</li>
	</nav>
</section>

<!-- Shared Items --
@getFeed(url)
www.google.com/reader/public/atom/user%2F14778993901569235562%2Fstate%2Fcom.google%2Fbroadcast -->

<!-- Tweets
@getTweets(u)-->


<div id="disqus_thread" style="display:none;"></div>