:root {
	/* Colors */
	--colorOrange: #ff8a3b;
	--colorBlue: hsl(191, 100%, 40%);
	--colorBlueDark: #00718a;
	--colorDarker: #191919;
	--colorDark: #555;
	--colorMedium: #445566;
	--colorLight: #797f84;
	--colorLighter: #9d9fa5;
	--colorLightest: #ccc;

	/* Fonts */
	--fontFamily: Inter, 'Segoe WP', 'Segoe UI', Segoe, Calibri, Helvetica, Arial;
	--weightBoldest: bolder;
	--weightBold: bold;
	--weightNormal: normal;
	--weightLight: lighter;
	--weightLightest: 100;

	/* Sections */
	--colorAccent: var(--colorOrange);
	--colorLinkHover: var(--colorBlueDark);
	--colorLink: var(--colorBlue);
	--weightLink: inherit;
	--decorationLink: none;
	--styleLink: none; /* italic */
	--colorModalBorder: var(--colorLight);
	--colorActive: var(--colorAccent);
	--colorInactive: var(--colorLightest);
	--colorContent: var(--colorDarker);
	--weightContent: var(--weightNormal);
	--colorHeader: var(--colorMedium);
	--weightHeader: var(--weightLight);
	--colorSubheader: var(--colorDark);
	--weightSubheader: var(--weightLight);
	--colorQuote: var(--colorDark);
	--weightQuote: var(--weightNormal);
	--fontQuote: Spectral, Oxygen, Serif;
	--weightNav: var(--weightLight);
}

/* ==================================== */
/* Styles */

/* Everything */
* {
	/* Make paddings be included within the width */
	box-sizing: border-box;
}

/* Hide javascript only properties */
.js,
.hide {
	display: none;
}

/* Content */
body {
	font-family: var(--fontFamily);
	color: var(--colorContent);
	font-weight: var(--weightContent);
	font-size: 16px;
	position: relative;
	min-height: 2000px;
	/*
	text-rendering: optimizeLegibility;
	font-synthesis: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
	*/
}

/* Paragraphs */
p {
	margin: 0 0 1em;
}

/* Accent */
em {
	color: var(--colorAccent);
	font-weight: inherit;
	font-style: normal;
}
strong {
	color: var(--colorAccent);
	font-weight: var(--weightBold);
}
blockquote {
	color: var(--colorQuote);
	font-weight: var(--weightQuote);
	font-family: var(--fontQuote);
	font-style: italic;
}

/* Error  */
.error {
	color: red;
	border: 1px solid red;
}

/* Links Hover Effect */
.subtle {
	transition: opacity 1s;
	background: white;
	opacity: 0.3;
}
.subtle:hover {
	opacity: 1;
}

/* Links */
a,
a:link,
a:visited {
	cursor: pointer;
	color: var(--colorLink);
	text-decoration: var(--decorationLink);
	font-style: var(--styleLink);
	font-weight: var(--weightLink);
}
a:hover {
	cursor: pointer;
	color: var(colorLinkHover) !important;
	text-decoration: underline;
}

/* Heading */
header.heading h1 {
	color: var(--colorHeader);
	font-weight: var(--weightHeader);
	font-size: 36px;
}
header.heading h2 {
	color: var(--colorSubheader);
	font-weight: var(--weightSubheader);
	font-size: 18px;
}
header.heading h2 span {
	display: block;
}

.heading {
	position: relative;
}
.heading .heading-avatar {
	display: block;
	position: absolute;
	top: 0.5em;
	left: 18em;
	background: url('../images/balupton-small.gif') top left no-repeat;
	width: 23px;
	height: 36px;
	transition: all 0.5s ease-in-out;
}
.heading .heading-avatar:hover {
	transform: rotate(360deg);
	background: url('../images/balupton-large.gif') top left no-repeat;
	width: 365px;
	height: 526px;
}

/* Pages */
nav.pages {
	font-size: 56px;
}
nav.pages ul {
	padding: 0;
}
nav.pages li {
	display: inline;
	margin-right: 0.75em;
}
nav.pages li a {
	font-weight: var(--weightNav);
	color: var(--colorInactive);
}
nav.pages li.active a {
	font-weight: var(--weightNav);
	color: var(--colorActive);
}

/* Footing */
footer.footing {
	margin: 4em 0 3em;
	opacity: 0.5;
	background: white;
}
footer.footing div,
footer.footing p {
	margin: 0;
}
footer.footing .about {
	font-size: 16px;
}
footer.footing .copyright {
	font-size: 12px;
}

/* Sidebar */
aside.sidebar ul,
aside.sidebar ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside.sidebar section {
	font-size: 14px;
	margin-bottom: 2em;
}

aside.sidebar section header {
	position: relative;
}
aside.sidebar section header h1 {
	margin: 0;
	padding: 0;
}

aside.sidebar section header .icon {
	position: absolute;
	bottom: 12px;
	right: 0;
	max-height: 32px;
	max-width: 32px;
}

aside.sidebar section header ul {
	height: 30em; /*180px */
	position: relative;
	overflow: auto;
}

aside.sidebar section header li {
	margin: 1em 0;
}

aside.sidebar section h1 {
	font-weight: var(--weightNav);
}

aside.sidebar section,
aside.sidebar section a,
aside.sidebar section a:link,
aside.sidebar section a:visited {
	color: var(--colorContent);
}

/* Links Hover Effect */
aside.sidebar .links ul {
	transition: opacity 1s;
	background: white;
	opacity: 0.3;
}
aside.sidebar .links ul li {
	width: 96%;
}
aside.sidebar:hover .links ul {
	opacity: 1;
}

/* Images Hover Effect */
aside.sidebar {
	transition: opacity 0.5s;
	opacity: 0.3;
}
aside.sidebar:hover {
	opacity: 1;
}

/* Images Sizing
aside.sidebar section.images ul {
	line-height: 0;
}
aside.sidebar section.images ul li {
	margin: 0;
	display: inline;
}
aside.sidebar section.images ul img {
	width: 48%;
} */

/* Modals */
aside.modal:not(.backdrop) {
	z-index: 500;
	position: fixed;
	top: 10vh;
	left: 10%;
	max-height: 80vh;
	width: 80%;
	margin: 0;
	padding: 2em;
	background: white;
	border: 1px solid var(--colorModalBorder);
	overflow: auto;
}
aside.modal:not(.backdrop) h1,
aside.modal:not(.backdrop) h2 {
	font-weight: var(--weightLight);
	color: var(--colorHeader);
	font-size: 36px;
	margin: 1em 0 0.25em;
}
aside.modal:not(.backdrop) h1:first-child,
aside.modal:not(.backdrop) h2:first-child {
	margin-top: 0;
}

aside.modal.backdrop {
	z-index: 499;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background: white;
	cursor: pointer;
	opacity: 0.5;
}

/* Content */
article.page h1 {
	margin: 4em 0 1em;
	color: var(--colorAccent);
	font-size: 36px;
	font-weight: var(--weightBoldest);
}

article.page h2 {
	margin: 4em 0 1em;
	color: var(--colorAccent);
	font-size: 24px;
	font-weight: var(--weightBoldest);
}

article.page .link-header,
article.page .project-header,
article.page h3 {
	margin: 2em 0 0;
	color: var(--colorAccent);
	font-size: 18px;
	font-weight: var(--weightBold);
}

article.page .link-header a,
article.page .project-header a,
article.page h3 a {
	font-weight: var(--weightNormal);
}

article.page h4 {
	margin: 2em 0 0;
	color: var(--colorAccent);
	font-size: 16px;
	font-weight: var(--weightNormal);
}
article.page h4 a {
	font-weight: var(--weightNormal);
}

article.page .link-comments:before {
	content: ' ✎ ';
}
article.page .link-date:before,
article.page .page-date:before {
	content: ' ⎋ ' /* ✍ */;
}
article.page .project-stars:before {
	content: ' ☆ ';
}
article.page a:hover .project-stars:before {
	content: ' ★ ';
}

article.page .link-comments,
article.page .link-date,
article.page .page-date,
article.page .project-watchers {
	white-space: nowrap;
}

article.page .page-header h1,
article.page .page-header h2,
article.page .page-content h1,
article.page .page-content h2 {
	margin: 2em 0 1em;
}

article.page .page-header h1 small,
article.page .page-header h2 small,
article.page .page-content h1 small,
article.page .page-content h2 small {
	font-weight: var(--weightLightest);
}

article.page .link-list,
article.page .project-list {
	list-style: none;
}

article.page .link-list h2,
article.page .project-list h2,
article.page section:first-of-type h2 {
	margin: 1em 0 1em;
}

article.page .link-list .link-header,
article.page .link-list .project-header,
article.page .link-list h3,
article.page .project-list .link-header,
article.page .project-list .project-header,
article.page .project-list h3,
article.page section:first-of-type .link-header,
article.page section:first-of-type .project-header,
article.page section:first-of-type h3 {
	margin: 1em 0 0;
}

article.page .link-list .link-link .link-date,
article.page .link-list .project-link .link-date,
article.page .project-list .link-link .link-date,
article.page .project-list .project-link .link-date {
	display: none;
}
article.page .link-list .link-link:hover .link-date,
article.page .link-list .project-link:hover .link-date,
article.page .project-list .link-link:hover .link-date,
article.page .project-list .project-link:hover .link-date {
	display: inline;
}

article.page .link-list p.link-description,
article.page .project-list p.project-description {
	margin-left: 1em;
}

article.page .page-footer {
	background: hsl(0, 0, 99%);
	margin: 3em 0 -1em;
}

article.page .related-documents,
article.page .page-comments,
article.page .social-buttons {
	margin: 3em -1em 0;
	padding: 1em 1em;
	background: whiteSmoke;
}

article.page .page-comments {
	padding-bottom: 0;
}

article.page .social-buttons .social-button {
	height: 20px;
	width: 450px;
	overflow: hidden;
	margin: 0.5em 0;
}

/* Services */
.service-buttons {
	margin-top: 1.5em;
}

.social-buttons,
.service-badges {
	display: block;
	margin-top: 0.5em;
}

.service-button {
	display: inline-block;
	width: 100px;
	text-align: left;
	overflow: hidden;
}
.service-button .google-plus-one-button,
.service-button .hacker-news-submit-button {
	width: 80px;
}
.service-button .twitter-follow-button,
.service-button .fury-button {
	width: 130px;
}
.service-button .reddit-submit-button {
	width: 140px;
}
.service-button .reddit-submit-button iframe {
	padding-top: 3px;
}

/* ==================================== */
/* Layout: Initial */
/* Write your initial layout configuration here */

/* Body */
body {
	padding: 0 2em;
}

/* Mainbar */
header.heading,
nav.pages,
footer.footing,
article.page {
	width: 70%;
}

/* Sidebar */
aside.sidebar {
	position: absolute;
	top: 0;
	right: 1em;
	text-align: right;
}

/* ==================================== */
/* Layout: Responsive */
/* Write your responsive layout styles here */
/* Below is merely an example of how this should work */

/* Hide the sidebar */
@media screen and (max-width: 960px) {
	/* Body */
	body {
		padding: 0 2em;
	}

	/* Mainbar */
	header.heading,
	nav.pages,
	footer.footing,
	article.page,
	.promo a {
		width: 100%;
	}

	aside.sidebar {
		opacity: 1;
		position: static;
		width: 100%;
		text-align: center;
	}

	aside.modal:not(.backdrop) {
		width: 90%;
		left: 5%;
	}
}

@media screen and (max-width: 670px) {
	nav.pages li {
		margin-right: 0.25em;
	}
}

@media screen and (max-width: 600px) {
	nav.pages li {
		font-size: 48px;
	}
}

@media screen and (max-width: 480px) {
	body {
		padding: 0 0.5em;
	}

	nav.pages li {
		display: block;
	}
}
