.liquid-container-315 {
    width: 100%;
    float: left;
    margin-right: -315px;
}

.liquid-content-315 {
    margin-right: 315px;
}

.liquid-sidebar-315 {
    width: 315px;
    float: right;
}

.liquid-side-315 {
    width: 300px;
    margin: 0 0 0 15px;
}

#blavatardiv .submit, #avatardiv .submit {
    padding: 0;
}

#avatardiv h3, #personal-options h3, .profile-side h3 {
    margin-top: 0;
}

table#general-top {
    width: 630px;
}

table#general-bottom {
    clear: both;
}

#profpic, .profile-side-box {
    padding: 10px;
    -moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #ccc;
}

#profpic {
    text-align: center;
}

#profpic img {
    border: 8px solid #fff;
}

#profpic p {
    text-align: left;
}

#personal-options {
    margin-right: 300px;
    padding: 1em 3em 0 0;
    border: 1px solid #fff;
}

#profile-page .form-table input[type = text] {
    width: 300px;
}

table#availablethemes {
    border-spacing: 0px;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 10px auto;
}

td.available-theme {
    vertical-align: top;
    width: 240px;
    margin: 0;
    padding: 20px;
    text-align: left;
}

table#availablethemes td {
    border: 1px solid #eee;
    border-top: none;
}

table#availablethemes td.top {
    border-top: none;
}

table#availablethemes td.right {
    border-right: none;
    border-left: none;
}

table#availablethemes td.bottom {
    border-bottom: none;
}

table#availablethemes td.left {
    border-right: none;
    border-left: none;
}

.available-theme a.screenshot {
    width: 240px;
    height: 180px;
    display: block;
    border: 1px solid #efefef;
    margin-bottom: 10px;
    overflow: hidden;
}

.available-theme img {
    width: 240px;
}

.available-theme h3 {
    margin: 15px 0 5px;
}

#current-theme {
    margin-top: 1em;
}

#current-theme a {
    border-bottom: none;
}

#current-theme h3 {
    font-size: 17px;
    font-weight: normal;
    margin: 0;
}

#current-theme .description {
    margin-top: 5px;
}

#current-theme img {
    float: left;
    border: 1px solid #666;
    margin-right: 1em;
    margin-bottom: 1.5em;
    width: 150px;
}

#contextual-help-wrap h5 {
    padding-left: 0px !important;
}

#new-feedback {
    padding-top: 14px;
}

.supportcats {
    list-style: none;
    margin: 7px 0 0;
    clear: both;
    text-indent: 0;
}

.supportcats li {
    display: block;
    float: left;
    min-width: 14em;
    padding: 5px 3px;
    white-space: nowrap;
}

.supportcats a {
    text-transform: capitalize;
    cursor: pointer;
}

#contextual-help-wrap {
    padding: 5px 10px 10px;
}

#quicklookup a {
    cursor: pointer;
}

#quicklookup strong {
    display: block;
    margin-top: 1em;
}

#quicklookup ul {
    float: left;
    list-style-type: disc;
    width: 50%;
}

#quicklookup .list {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#quicklookup .list ul li {
    margin-left: 2em;
}

#quicklookup p.submit {
    margin: 0;
    padding: 0;
}

#contextual-help-wrap input, #contextual-help-wrap textarea {
    border: 1px solid #DFDFDF;
}

#all-my-blogs-tab a.current {
    position: relative;
    padding-bottom: 10px;
}

#all-my-blogs {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    _width: 100%;
    margin: 4px 7px;
    padding: 6px 10px;
    font-size: 12px;
}

#all-my-blogs * {
    margin: 0;
}

form#all-my-blogs p, form#all-my-blogs p * {
    vertical-align: middle;
}

#all-my-blogs a {
    font-size: 10px;
    text-decoration: underline;
    margin: 0 14px;
}

#all-my-blogs a:hover, #all-my-blogs a:active {
    text-decoration: none;
}

#dashboard_stats #stats-graph {
    margin: 0;
}

#stats-info {
    border-top: 1px solid #ccc;
}

#stats-info .stats-section {
    width: 50%;
    float: left;
}

#stats-info .stats-section-inner {
    margin: 1em 0;
}

#stats-info h4 {
    font-size: 1em;
    margin: 0 0 .3em;
}

#stats-info p {
    margin: 0 0 .25em;
    color: #999;
}

#stats-info p.widget-loading {
    margin: 1em 0 0;
    color: #333;
}

#stats-info p a {
    display: block;
}

#stats-info p a.button {
    display: inline;
}

#stats-info div#active {
    border-top: 1px solid #ccc;
}

#stats-info div#top-search p {
    color: #333;
}

fieldset.options {
    margin: 1em auto;
    border: 1px solid #dadada;
}

body#media-upload {
    padding-top: 0;
}

p.upload-filetypes, p.upload-quota, p.upload-flash-bypass, p.upload-html-bypass {
    color: #999;
    font-size: 0.9em;
}

#flash-upload-ui p.howto {
    display: none;
}

#content_media {
    display: none;
}

ul.short-code-list {
    margin: 0 1.5ex;
    padding: 3px 0 0;
    list-style: none;
    text-indent: 0;
}

.tablenav a.checkforspam {
    float: left;
}

#gallery-form tr.url, #gallery-form tr.align, #gallery-form tr.image-size {
    display: none;
}

#gallery-form tr.submit input.button {
    display: none;
}

.ui-tabs-loading {
    outline: none;
    background: url(../images/loading.gif) no-repeat 0 50%;
}

#thumbnail_crop, label[for = thumbnail_crop] {
    display: none;
}

.widefat th.column-stats {
    text-align: center;
}

.column-stats {
    width: 3em;
}

.column-stats a {
    width: 16px;
    margin: 0 auto;
}

#login h1 a {
	background: transparent url(../../images/balcms.gif) no-repeat center center;
}

#change-permalinks {
    display: none;
}

p.custom-css-help {
    float: right;
    border: 1px solid #000;
    width: 200px;
    margin: 0 0 0 10px;
    padding: 6px;
}

.imglist {
    list-style: none;
    padding-left: 0 !important;
}

.imglist img {
    padding-right: 6px;
    vertical-align: middle;
    background: #fff;
}