@import url("skin.css");
@import url("wpcon.css");

* { margin: 0; padding: 0; }

body {
	font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

form {
	margin-left: 8px;
	padding: 16px;
	font-weight: normal;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #e5e5e5;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

#forgetmenot, #loginsubmit {
	display:block;
	width:40%;
}

#forgetmenot { font-weight: normal; float: left; margin-bottom: 0; }

#login form #loginsubmit input {
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	padding: 3px 10px;
	border: none;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	cursor: pointer;
	text-decoration: none;
	margin-top: -3px;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
}

#login form p {
	margin-bottom: 0;
}

label {
	color: #777;
	font-size: 13px;
}

#forgetmenot label {
	font-size: 11px;
	line-height: 19px;
}

#loginsubmit {
	float: right;
	text-align:right;
}

form p { margin-bottom: 24px; }

h1 a {
	background: url(../images/logo-login.gif) no-repeat top center;
	width: 326px;
	height: 67px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

#nav {
	text-shadow: rgba(255,255,255,1) 0 1px 0;
}

#backtoblog {
	height: 20px;
	background: #464646;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	margin:0;
	padding:6px 15px 4px;
}
#backtoblog a {
	text-decoration: none;
}

#login { width: 320px; margin: 7em auto; }

#login_error, .message {
	margin: 0 0 16px 8px;
	border-width: 1px;
	border-style: solid;
	padding: 12px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#nav { margin: 0 0 0 8px; padding: 16px; }

#login .text {
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
}

.clear {
	clear: both;
}
