Options -Indexes
RewriteEngine On

# Image which includes a query string pass to the image.php file
RewriteCond %{REQUEST_FILENAME} \.(jpe?g|png|gif|js|css|tpl)$
RewriteCond %{QUERY_STRING} ^.
RewriteRule ^(.+)$ image.php?image=$1 [L,QSA]
