@import url(style.css);
@import url(wpcon.css);

* { margin: 0; padding: 0; }

body {
	font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}


#login input[type="text"],
#login input[type="password"] {
	font-size: 24px;
	width: 99%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
}

#login label {
	color: #777;
	font-size: 15px;
}
#login-remember-wrap label {
	font-size: 11px;
}


#login-remember-wrap,
#login-submit-wrap {
	display:block;
	width:40%;
	margin: 0;
}
#login-remember-wrap {
	margin-top: 5px;
	font-weight: normal; float: left;
}
#login-submit-wrap {
	float: right;
	text-align:right; 
}
#login-submit {
	width:50%;
}




#login-heading, #login-heading a,
#login-box,
#login-nav,
#login > .log {
	width: 360px;
	margin: 0 auto;
}


#login-heading a {
	background: url(../images/logo-login.gif) no-repeat top center;
	width: 326px;
	height: 67px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

#login {
	margin: 7em auto;
	width: 700px;
	text-align:center;
}

#login-box {
	width: 320px;
	text-align:left;
	padding: 5px 15px 13px 15px;
	margin-bottom: 5px;
	
	border: 1px solid #e5e5e5;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	
	background: #fff;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
	
	font-size: 12px;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: normal;
	
}

#login-box p {
	margin-bottom: 0;
/*	margin-bottom: 24px; */
}

#login-nav {
	text-shadow: rgba(255,255,255,1) 0 1px 0;
	text-align:left;
	padding: 16px 30px 16px 16px;
	width:320px;
}

#login-back {
	height: 20px;
	background: #464646;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	margin:0;
	padding:6px 15px 4px;
	text-align:left;
}
#login-back a {
	text-decoration: none;
	color: #ccc;
}
#login-back a:hover {
	color: #fff;
}

#login .log {
	margin-bottom:30px;
	width:550px;
}
#login .log > .event {
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
